.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 130px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 15px;
}

.btn {
  margin: 30px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
  color: #00aeff;
}

.resetBtn {
  color: red;
}

.btn::selection{
  background-color: transparent;
}

.scoreboard {
  margin-top: 10px;
  font-weight: bold;
}

.finishBox {
  margin-bottom: 15px;
}